#content{
  display: grid;
  grid-template-columns: 150px 1fr 1fr 1fr 1fr;
  gap: 10px;
}



header, footer{
    border: 2px solid black;
    background-image: linear-gradient(to right,#f08c00, #ebd278);
    height: 100px;
    grid-column: 1/6 ;
    display: flex;
        
}

footer{
  height: auto;
  justify-content: space-between;
}

table{
  margin: 5px 0px 5px 10px;  
}

td,th{
  padding-right: 30px;
}


img{
  display: block;
  margin: 10px;
}

#intelligent, #brave, #fair, #responsible{
  display: block;
  text-decoration: none;
  color: white;
  background-size: cover;
  text-align: right;
  padding-right: 10px;
  font-size: 30px;
  min-height: 200px;
  border: 10px solid #f08c00;
}

#brave{
  background-image: url(images/cat.jpg);
}
#brave:hover{
  border: 10px solid #b94b0a;
}

#intelligent{
  background-image: url(images/light.jpg);
}
#intelligent:hover{
  border: 10px solid #e10069;
}

#fair{
  background-image: url(images/judge.jpg);
}
#fair:hover{
  border: 10px solid #00b0d7;
}

#responsible{
  background-image: url(images/eco.jpg);
}
#responsible:hover{
  border: 10px solid #2daa37;
}

nav{
  border: 2px solid black;
  background-color: #f08c00;
  grid-row: 2/4;
  min-height: 400px;
}

nav a{
  text-decoration: none;
  display: block;
  color: black;
  font-size: 20px;
  padding-left: 10px;
  padding-bottom: 2px;
}

h3{
  margin: 5px 0px 5px 5px;
}

nav a:hover{
  background-color: #ebd278;
  border: 1px solid #b94b0a;
}

article{
  grid-column: 2/6;
  border: 2px solid black;
  background-color: #ebd278;
  padding: 20px;
  font-size: 1.2em;
}

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
    border-radius: 5px;
}

footer img{
  position: relative;
  left: 10px;
  height: 100px;
  margin-right: 20px;
}

@media screen and (max-width:600px) {

  #brave, #intelligent, #fair, #responsible {  
    background-image: none;
    background-color: black ;
    text-align: right;
    padding-right: 10px;
    font-size: 30px;
    min-height: 20px;
    max-height: 20px;
    grid-column: 2/6;
    text-align: center;
    font-size: 1em;
  }
  article{
    text-align: left;
    font-size: 1em;
  }
  nav{
    grid-row: 2/7;
  }

}